<html>
<head>
  <title>Shapeshifter</title>
</head>
{% block body %}
<body onload="draw()">
<div class="header">
  <h1>Shapeshifter</h1>
</div>
<div class="canvas-area">
  <p>Canvas size: 500x500px</p>
  <canvas id="mainCanvas" width="500" height="500" style="border:2px solid #000000;"></canvas>
</div>
<div class="input">
<form method="POST" id="input-form">
  <input type="text" name="statement" id="statement" placeholder="Enter commands">
  <button type="submit">Submit</button>
</form>
<p>
TUTORIAL: type commands in the format "color shape (optional) at x,y size of w,h"<br>
Example: `red rectange` -- `#1f35fa oval at 50,50` -- `blue triangle size of 300, 90 at 120,120`
</p>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
  <script tyoe="text/javascript">
    $(document).on('submit', '#input-form',function(e) {
      var canvas = document.getElementById("mainCanvas");
      var ctx = canvas.getContext("2d");
      ctx.fillRect({{ draw_info.x }}, {{ draw_info.y }}, {{ draw_info.w }}, {{ draw_info.h }});
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '/',
        data: {
          statement: $("#statement").val()
        },
        success:function() {
        }
      })
    });
    $('#input-form')[0].reset();
  </script>
</body>
{% endblock %}
</html>
